.App {
  text-align: center;
}

body {
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkoutForm {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.checkoutObject {
  max-width: 800px;
  transition: 0.4s;
  margin-bottom: 30px;
}

.payThis {
  background-color: #0071e3;
    border: transparent;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

.payThis:hover {
  background: #0077ED;
}